.bg-car {
  background-image: url("Capture.PNG");
  background-size: contain;
  /*auto : mode normal
    contain : berusaha untuk fit image di dalam kontainer
    cover : fit lebar browser/div */
  height: 352px; /*size 770x352 => 352/770*heigth */
  background-repeat: space;
  /*no-repeat : 
    round : membulatkan jumlah image agar fit di web (image akan diresize automatis)
    space : membulatkan jumlah image dengan size asli */
}
