* {
  font-family: Mulish, sans-serif;
}
/*
 * : selector untuk semua elemen
*/

body {
  margin: 0;
}
/*
Secara default, website memiliki margin. Jadi agar margin hilang maka diubah ke 0
*/

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 100px;
  background-color: rgba(187, 107, 217, 0.1);
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  margin: 0px 16px;
}
/* 
tag a yang ada di dalam nav-link
inherit : mengikuti warna induk (nav-lnk)
*/

.nav-links a:hover {
  text-decoration: underline;
  color: inherit;
  margin: 0px 16px;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  color: #f53838;
}

.btn-txt {
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  transition: color 250ms ease-in-out;
}
.btn-txt:hover {
  cursor: pointer;
  color: #f53855;
}

.btn-border {
  border: 1px solid #f53855;
  background-color: transparent;
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #f53855;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.btn-border:hover {
  cursor: pointer;
  background-color: #f53855;
  color: white;
}

.nav-login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
